In [1]:
import pandas as pd
from google.oauth2.credentials import Credentials
from googleapiclient.discovery import build

In [2]:
# If modifying these scopes, delete the file token.json.
SCOPES = ['https://www.googleapis.com/auth/spreadsheets.readonly']

creds = Credentials.from_authorized_user_file('token.json', SCOPES)

In [3]:
# The ID and range of a sample spreadsheet.
SAMPLE_SPREADSHEET_ID = '1LIg8WgEcycm9nCoeXYpxQQqiZujuF4eaSlauIJQP8r8'
SAMPLE_RANGE_NAME = 'Sheet1!A1:D21'

In [4]:
service = build('sheets', 'v4', credentials=creds)
# Call the Sheets API
sheet = service.spreadsheets()
result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
                            range=SAMPLE_RANGE_NAME).execute()
values = result.get('values', [])

In [5]:
values

[['Testing', 'try', 'Solve', 'Z'],
 ['1', '0.4682711418', '0.4682711418', '0.3719859196'],
 ['2', '1.34894284', '0.6744714198', '0.2892388335'],
 ['3', '1.541334244', '0.5137780814', '0.3744307096'],
 ['4', '2.798631976', '0.6996579939', '0.2649445595'],
 ['5', '1.477324873', '0.2954649746', '0.259997061'],
 ['6', '4.820331362', '0.8033885603', '0.1496994153'],
 ['7', '0.6721958471', '0.09602797815', '0.04521232062'],
 ['8', '4.744842969', '0.5931053711', '0.3494450384'],
 ['9', '6.526176513', '0.7251307237', '0.2383615833'],
 ['10', '7.958294085', '0.7958294085', '0.1584081755'],
 ['11', '10.9793245', '0.9981204091', '0.00002111756169'],
 ['12', '8.572049313', '0.7143374427', '0.2498415809'],
 ['13', '7.932495354', '0.6101919503', '0.33945781'],
 ['14', '12.54799222', '0.8962851586', '0.05184722006'],
 ['15', '9.079006265', '0.6052670843', '0.3424932754'],
 ['16', '8.991318753', '0.561957422', '0.3635722483'],
 ['17', '3.061492771', '0.18008781', '0.1308141039'],
 ['18', '13.00390508', '0.7224391711', '0.2412515839'],
 ['BADS', '123.45', 'TRUE', '=MAX(D2:D4)']]

In [6]:
df = pd.DataFrame(values[1:], columns=values[0])

In [7]:
df.head()

  Testing           try         Solve             Z
0       1  0.4682711418  0.4682711418  0.3719859196
1       2    1.34894284  0.6744714198  0.2892388335
2       3   1.541334244  0.5137780814  0.3744307096
3       4   2.798631976  0.6996579939  0.2649445595
4       5   1.477324873  0.2954649746   0.259997061

In [8]:
df.tail()

   Testing          try         Solve             Z
14      15  9.079006265  0.6052670843  0.3424932754
15      16  8.991318753   0.561957422  0.3635722483
16      17  3.061492771    0.18008781  0.1308141039
17      18  13.00390508  0.7224391711  0.2412515839
18    BADS       123.45          TRUE   =MAX(D2:D4)